body{
	background-image: url("../img/bb.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height:606px;
    position: relative;
	padding-top: 10%;
}
body::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}