body{
	text-align: center;
}


.login{
	background-image: url("../img/bb.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height:606px;
    position: relative;
	padding-top: 10%;
}
.login::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* logo */
.login .login-form img{
	width: 100px;
	height: 100px;
	position: relative;
    margin-bottom: 5%;

	
}
.login .login-form input{
	width: 30%;
	height: 50px;
	border: none;
	border-bottom: 2px solid gray;
	padding: 20px 25px;
	background-color: transparent;
}
 
.login .login-form button{
	height: 50px;
	width: 15%;
	border-radius: 25px;
	border-color:transparent;
	background: linear-gradient(to bottom right, #827382, #EE084E);
}
	
::-moz-placeholder{
	color: #fff;
}