@font-face {
    font-family: 'caviar_dreams';
    src: url('../fonts/CaviarDreams-webfont.woff2') format('woff2'),
         url('../fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/CaviarDreams-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    outline: none !important;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #222;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}
p, a, li{
    font-family: 'Oxygen', sans-serif;
}
a {
    transition: all 0.3s ease-out;
    position: relative;
    padding: .5em;
    margin: -.5em;
}

a:focus, 
a:hover {
    text-decoration: none;
    color: #fff;
}

.img_res{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}
.block-title {
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.8em;
    padding: 0 40px;
    margin: 0;
    line-height: 1.6;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.block {
    padding: 80px 0px 50px 0px;
    overflow: hidden;
}
.title-box{
    text-align: center;
    
    margin-bottom: 50px;
}
.bb-top-left {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.bb-bottom-left {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
.bb-top-right {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}
.bb-bottom-right {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.polo-btn {
    display: block;
    color: #fff;
    border: 1px solid;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    padding: 15px 0px;
    margin: 0px 0px 20px 0px;
    transition: 0.4s ease all;
}


/* ///////////////////////////////////////////////////////////////////// 
//  03 - Side Menu
/////////////////////////////////////////////////////////////////////*/

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 260px;
    height: 100%;
    margin-right: -260px;
    overflow-y: auto;
    background: #827382;
    z-index: 99999999;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.27);
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    padding: 15px 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#sidebar-wrapper.active {
    right: 250px;
    width: 260px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}
.close-btn {
    display: block;
    color: #FFFFFF;
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    padding-right: 25px;
}
.close-btn:hover {
    color: #EE084E;
}




/* ///////////////////////////////////////////////////////////////////// 
//  04 - Preloader
/////////////////////////////////////////////////////////////////////*/

#preloader { 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 99999999999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background: #fff url('../img/preloader.gif') 
    no-repeat center center; 
}

/* ///////////////////////////////////////////////////////////////////// 
//  05 - Header
/////////////////////////////////////////////////////////////////////*/

.sticky{
    position: fixed;
    width: 100%;
    background: transparent;
    padding: 15px 0px;
    transition: all 0.5s;
    z-index: 99999;
}
.fixed {
    position: fixed;
    top:0; 
    left:0;
    width: 100%; 
    background-color: #827382;
    padding: 0px;
}
.logo {
    font-family: 'caviar_dreams';
    color: #fff;
    font-size: 2.5em;
    line-height: 1.6;
}
#logo_menu {
    padding: 5px 0px;
}
#menu-toggle {
    z-index: 1;
    font-size: 35px;
    float: right;
    border: 1px solid #fff;
    color: #fff;
    margin: 5px 0px;
    padding: 2px 10px;
    line-height: 0;
}
.store-btn-container {
    padding-top: 15px;
}
.store-btn:hover,
#menu-toggle:hover {
    background: #817382;
    border-color: #817382;
    color: #fff;
}

/* ///////////////////////////////////////////////////////////////////// 
//  06 - Banner
/////////////////////////////////////////////////////////////////////*/

#banner {
    background: url(../img/bb.jpg);
    background-size: cover;
    padding-top: 80px;
    background-attachment: fixed;
    position: relative;
}
#banner::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.headings {
    padding: 25% 0 30% 0;
    color: #fff;
}
.headings h1 {
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 20px;
}
.headings p {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
}
.hand-container {
    max-height: 630px;
    overflow: hidden;
}
.iphone-hand {
    padding: 20px 30px 0px 30px;
    height: 100%;
}
.store:hover{
    background: #827382;
    border-color: #fff;
    color: #fff; 
}

.polo-btn i {
    padding-right: 6px;
}
.slidedown {
    font-size: 50px;
    color: #fff;
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 99;
    cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////////// 
//  07 - Features
/////////////////////////////////////////////////////////////////////*/

.feature-box {
    padding: 30px 0px;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
}
.feature-box i {
    font-size: 7em;
    line-height: 0 !important;
    margin: 0;
    padding: 0;
}
.feature-box p {
    padding: 0px 20px;
}
.feature-box h2 {
    margin: 0;
    padding: 20px 0px;
    font-weight: 300;
}


/* ///////////////////////////////////////////////////////////////////// 
//  08 - Gallery
/////////////////////////////////////////////////////////////////////*/


#gallery{
    background: url(../img/camera.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#screenshots .item{
  padding: 0px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
    color: #827382;
}
/*use styles below to disable ugly selection*/
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gallery-nav {
    color: #827382;
    font-size: 2em;
    margin: 0 1em;
    padding: 10px 19px;
    line-height: 0;
    border: 1px solid #827382;
    border-radius: 50%;
}

.gallery-nav:hover,.gallery-nav:focus,.gallery-nav:active {
    color: #fff;
    background:#827382;
}




/* ///////////////////////////////////////////////////////////////////// 
//  download
/////////////////////////////////////////////////////////////////////*/


#download {
    background-image: url(../img/mu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: inline;
	float: left;
	position: relative;
	width: 100%;
    overflow: hidden;

}
#download::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 1;
}
.container{
    position: relative;
    z-index: 2;
}


.mu-download-area .mu-title,
.mu-download-area p {
	color: #000;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    
}



.mu-download-area .polo-btn{
	width: 25%;
	text-align: center;
	margin-top: 80px;
    margin-left: 36%;
    margin-bottom: 20%;
    color: #000;
    background-color: #827382;
    border-color:  #827382;
    border-radius: 30px;
}

.mu-download-area .polo-btn:hover{
    background: #827382;
    border-color: #000;
    color: #fff; 
}
@media(min-width:150px){
    .mu-download-area .polo-btn{
    font-size: 20px;
        display: inline;
        padding: 17px 30px ;       
    }
}
@media all and (max-width:400px){
    .mu-download-area .polo-btn{
        padding: 15px;
        font-size: 15px;
        position: relative;
        right: 45px;
        
    }
}

.polo-btn i {
    padding-right: 6px;
}


/* Contact Section
--------------------------------*/
#contact{
    background: url("../img/bbb.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
    color: #fff;
    padding-top: 20px;
    
}


#contact::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0, 0, 0.7);
    z-index: 0;
}
#contact .container{
    position: relative;
    z-index: 1;
}
#contact .block-title{
    top:50px;
    margin-bottom: 60px;
}
#contact2 .section-header {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    
}

#contact2 .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #827382;
}

#contact2 .contact-info address, #contact2.contact-info p {
    margin-bottom: 0;
    color: #000;
}

#contact2 .contact-info a {
    color: #000;
}

#contact2 .contact-info a:hover {
    color: #827382;
}

#contact2 .contact-address, #contact2 .contact-phone, #contact2 .contact-email {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    #contact2 .contact-address, #contact2 .contact-phone, #contact2 .contact-email {
        padding: 20px 0;
    }
}

@media (min-width: 768px) {
    #contact2 .contact-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}

#contact2 .form #sendmessage,  #modal-window-container .form #sendapplication{
    color: #827382;
    border: 1px solid #827382;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact2 .form #errormessage, #modal-window-container .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact2 .form #sendmessage.show, #contact2 .form #errormessage.show, #contact2 .form .show
, #modal-window-container .form #errormessage.show ,#modal-window-container .form #sendapplication.show {
    display: block;
}

#contact2 .form .validation {
    color: red;
    display: none;
    font-weight: 400;
    font-size: 13px;
}
#contact2 .form input{
    height: 100%;
    width: 100%;
    cursor:text;
}

#contact2 .form input,
#contact2 .form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
}

#contact2 .form button[type="submit"] {
    background: #827382;
    border: 0;
    padding: 20px 70px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 50px;
}

#contact2 .form button[type="submit"]:hover {
    background: #827382;
    color: #000;
}
#contact2 .form button[type="submit"]:active,
#contact2 .form button[type="submit"]:visited,
#contact2 .form button[type="submit"]:focus{
    border: none;
}
#contact2 .form  input {
    background-image: url("../img/User-512.png");
    background-repeat: no-repeat;
    background-position: 15px 16px;
    background-size: 25px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #dfe2e2;
    margin-bottom: 10px;
    padding: 17px 50px;
}
#contact2 .form input:visited{
    background-color: sandybrown;
}
#contact2 .form  textarea {
    background-image: url("../img/icon.msg.png");
    background-repeat: no-repeat;
    background-position: 15px 16px;
    background-size: 25px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #dfe2e2;
    margin-bottom: 30px;
    padding: 17px 50px;
}

/* ///////////////////////////////////////////////////////////////////// 
//  13 - Footer Section
/////////////////////////////////////////////////////////////////////*/


#footer {
  /*  background-image: url(../img/gb.jpg);*/
    background-color: #827382;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 0 0;
    color: #eee;
    font-size: 16px;   
}

#footer p {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
}
#footer p span {
    font-weight: 600;
    font-family: Calisto MT;
    font-size: 15px;
}

#footer .copyright {
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 1);
    background-color: #6a5c6a; 
    text-align: center;
    font-size: 16px;

}

/* ///////////////////////////////////////////////////////////////////// 
//  14 - Responsive Fixes
/////////////////////////////////////////////////////////////////////*/


/*1340px - 1170px*/

@media all and (max-width: 1340px) and (min-width: 1170px;) {
    .address-list li {
        font-size: 18px;
    }
    .address-list li i {
        width: 60px;
        height: 60px;
        font-size: 34px;

    }
}

/*1170px - 992px*/

@media all and (max-width: 1170px) and (min-width: 992px) {
    .address{
        width: 100%;
    }
    .mailbox{
        width: 100%;
    }
    .address-list {
    padding: 200px 0px 70px 0px;
    width: 100%;
    max-width: 100%;
    }
    .address {
    height: 340px;
    }
    .mailbox .container{
        margin-top: 100px;
        height: auto;
    }
    .address-list {
        padding: 200px 0px 70px 0px;
        width: 100%;
        max-width: 100%;
    }
    .address-list li {
        font-size: 16px;
        padding: 1em;
        display: inline-block;
    }
    .address-list li i {
        display: table-cell;
        line-height: 42px;
        width: 42px;
        height: 40px;
        font-size: 18px;
    }
}

/*1170px*/

@media all and (max-width: 1170px) {
    .address{
        width: 100%;
    }
    .mailbox{
        width: 100%;
    }
    .mailbox {
        padding-bottom: 111px;
        height: auto;
    }
    .mailbox .container {
        margin-top: 130px;
        margin-bottom: 0px;
    }
}

/*992px*/

@media all and (max-width: 992px) {
    .headings h1,.headings p{
        text-align: center;
    }
    .block-title {
        font-size: 2.8em;
    }
}

/*768px*/

@media all and (max-width: 768px) {
    #footer , .copyright{
        text-align: center;
    }
}


/*480px*/

@media all and (max-width: 400px) {
    .logo {
        font-size: 25px;
    }
}
@media all and (max-width: 300px) {
    .logo {
        font-size: 22px;
    }
}
@media all and (max-width:400px){
    #banner .polo-btn{
        position: relative;
        left: 60%;
    }
}
@media all and (max-width:400px){
    #banner .slidedown{
        margin-left: -18%;
    }
}

